[Unit]
Description=Make sure cgroups exist for DOMjudge judgedaemon

[Service]
Type=oneshot
ExecStart=/home/chinhhi/domjudge/judgehost/bin/create_cgroups
RemainAfterExit=true
