<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TDMU Judge</title>

    <!-- Style -->
    <link rel="stylesheet" href="../styles/boostrap.min.css">
    <link rel="stylesheet" href="../styles/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="../styles/style.css">
    <!-- Javascript -->
</head>

<body>
    <!-- Header -->
    <div class="container">
        <div id="header" class="header">
            <div class="logo">
                <a href="#">
                    <img src="../images/Logo/logo2-removebg-preview.png" alt="Logo Thu Dau Mot Judge">
                </a>
            </div>
            <div class="lang-chooser">
                <div>
                    <a href="#">
                        <img src="//sta.codeforces.com/s/52427/images/flags/24/gb.png" title="In English"
                            alt="In English" />
                    </a>
                    <a href="#"> <img src="//sta.codeforces.com/s/52427/images/flags/24/ru.png" title="Việt Nam"
                            alt="Việt Nam" />
                    </a>
                </div>
                <div>
                    <a href="#">Đăng nhập</a> | <a href="#">Đăng ký</a>
                </div>
            </div>
            <br class="clear" />
        </div>
        <!-- End Header -->
        <!-- Navigator -->
        <nav class="roundbox menu-box">
            <div class="menu-list-container">
                <ul class="menu-list main-menu-list">
                    <li>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">Kỳ thi</a>
                    </li>
                    <li>
                        <a href="#">Bài tập</a>
                    </li>
                    <li>
                        <a href="#">Bảng xếp hạng</a>
                    </li>
                    <li class="current">
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </div>
            <form action="/seach" method="POST">
                <input class="search" name="query" data-isplaceholder="true" value="">
            </form>
            <br class="clear">
        </nav>
        <!-- End Navigator-->

        <!-- Arlert  -->
        <div class="alert">
        </div>
        <!-- End arlert -->

        <!-- Section  -->
        <section class="section">
            <article class="article">
                <div class="topic">
                    <div class="list-blog">
                        <ul>
                            <li class="blog">
                                <p class="blog-title">
                                    <a href="#">#NTUCoder Round #20 (có giải thưởng)</a>
                                </p>
                                <p class="blog-date">
                                    <a href="#" class="author">chinhhi</a> - <span href="#"
                                        class="date">12/02/2017</span>
                                </p>
                                <p class="blog-content">
                                    Vào 19g30 Chủ Nhật ngày 19/02/2017, NTUCoder tổ chức vòng thi "NTUCoder Round #20".
                                    Kỳ thi gồm 8 bài tập (2 bài dễ, 3 bài trung bình, 3 bài khó), thời gian thi là 210
                                    phút. Người ra đề middlest.
                                    Xin mời tất cả các thành viên của NTUCoder cùng tham dự. Thời gian đăng ký kể từ bây
                                    giờ đến ngay trước lúc bắt đầu thi. Hình thức tính điểm: theo luật thi ACM/ICPC, mỗi
                                    lần nộp bài sai hệ số phụ cộng thêm 10 phút. Chúc các bạn một kỳ thi thành công.
                                    New:
                                    Vòng thi Round #20 có 9 giải thưởng. Mỗi bài tập có một giải thưởng riêng dành cho
                                    bạn nộp ... <a href="#">(xem thêm)</a>
                                </p>
                                <p class="blog-comment-count"><a href="#">(27 phản hồi)</a></p>
                            </li>
                            <li class="blog">
                                <p class="blog-title">
                                    <a href="#">#NTUCoder Round #20 (có giải thưởng)</a>
                                </p>
                                <p class="blog-date">
                                    <a href="#" class="author">chinhhi</a> - <span href="#"
                                        class="date">12/02/2017</span>
                                </p>
                                <p class="blog-content">
                                    Vào 19g30 Chủ Nhật ngày 19/02/2017, NTUCoder tổ chức vòng thi "NTUCoder Round #20".
                                    Kỳ thi gồm 8 bài tập (2 bài dễ, 3 bài trung bình, 3 bài khó), thời gian thi là 210
                                    phút. Người ra đề middlest.
                                    Xin mời tất cả các thành viên của NTUCoder cùng tham dự. Thời gian đăng ký kể từ bây
                                    giờ đến ngay trước lúc bắt đầu thi. Hình thức tính điểm: theo luật thi ACM/ICPC, mỗi
                                    lần nộp bài sai hệ số phụ cộng thêm 10 phút. Chúc các bạn một kỳ thi thành công.
                                    New:
                                    Vòng thi Round #20 có 9 giải thưởng. Mỗi bài tập có một giải thưởng riêng dành cho
                                    bạn nộp ... <a href="#">(xem thêm)</a>
                                </p>
                                <p class="blog-comment-count"><a href="#">(27 phản hồi)</a></p>
                            </li>
                            <li class="blog">
                                <p class="blog-title">
                                    <a href="#">#NTUCoder Round #20 (có giải thưởng)</a>
                                </p>
                                <p class="blog-date">
                                    <a href="#" class="author">chinhhi</a> - <span href="#"
                                        class="date">12/02/2017</span>
                                </p>
                                <p class="blog-content">
                                    Vào 19g30 Chủ Nhật ngày 19/02/2017, NTUCoder tổ chức vòng thi "NTUCoder Round #20".
                                    Kỳ thi gồm 8 bài tập (2 bài dễ, 3 bài trung bình, 3 bài khó), thời gian thi là 210
                                    phút. Người ra đề middlest.
                                    Xin mời tất cả các thành viên của NTUCoder cùng tham dự. Thời gian đăng ký kể từ bây
                                    giờ đến ngay trước lúc bắt đầu thi. Hình thức tính điểm: theo luật thi ACM/ICPC, mỗi
                                    lần nộp bài sai hệ số phụ cộng thêm 10 phút. Chúc các bạn một kỳ thi thành công.
                                    New:
                                    Vòng thi Round #20 có 9 giải thưởng. Mỗi bài tập có một giải thưởng riêng dành cho
                                    bạn nộp ... <a href="#">(xem thêm)</a>
                                </p>
                                <p class="blog-comment-count"><a href="#">(27 phản hồi)</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <aside class="aside-right">
                <div class="sidebox">
                    <div class="caption">
                        → Coder tích cực
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">User</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>21</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>22</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="bottom-link">
                        <a href="#">View all →</a>
                    </div>
                </div>
                <div class="sidebox">
                    <div class="caption">
                        → Bài tập mới
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Mã bài</th>
                                <th scope="col">Tên bài</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Mark</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Jacob</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>Larry</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="bottom-link">
                        <a href="#">View all →</a>
                    </div>
                </div>
            </aside>
        </section>
        <!-- End Section -->
        <!-- pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <!-- end pagination -->
        <!-- Footer -->
        <footer class="footer">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="#"> Chính hí </a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- End Footer -->
    </div>
</body>

</html>