<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TDMU Judge</title>

    <!-- Style -->
    <link rel="stylesheet" href="./styles/boostrap.min.css">
    <link rel="stylesheet" href="./styles/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="./styles/style.css">
    <!-- Javascript -->

</head>

<body>
    <!-- Header -->
    <div class="container">
        <div id="header" class="header">
            <div class="logo">
                <a href="#">
                    <img src="./images/Logo/logo2-removebg-preview.png" alt="Logo Thu Dau Mot Judge">
                </a>
            </div>
            <div class="lang-chooser">
                <div>
                    <a href="#">
                        <img src="//sta.codeforces.com/s/52427/images/flags/24/gb.png" title="In English"
                            alt="In English" />
                    </a>
                    <a href="#"> <img src="//sta.codeforces.com/s/52427/images/flags/24/ru.png" title="Tại Việt Nam"
                            alt="Việt Nam" />
                    </a>
                </div>
                <div>
                    <a href="#">Đăng nhập</a> | <a href="#">Đăng ký</a>
                </div>
            </div>
            <br class="clear" />
        </div>
        <!-- End Header -->
        <!-- Navigator -->
        <nav class="roundbox menu-box">
            <div class="menu-list-container">
                <ul class="menu-list main-menu-list">
                    <li class="current">
                        <a href="#">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">Kỳ thi</a>
                    </li>
                    <li>
                        <a href="#">Bài tập</a>
                    </li>
                    <li>
                        <a href="#">Bảng xếp hạng</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </div>
            <form action="/seach" method="POST">
                <input class="search" name="query" data-isplaceholder="true" value="">
            </form>
            <br class="clear">
        </nav>
        <!-- End Navigator-->


        <!-- Arlert  -->
        <div class="alert">
        </div>
        <!-- End arlert -->


        <!-- Section  -->
        <section class="section">
            <article class="article">

            </article>
            <aside class="aside-right">

            </aside>
        </section>
        <!-- End Section -->
        <!-- Footer -->
        <footer class="footer">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="#"> Chính hí </a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- End Footer -->
    </div>
</body>

</html>