{% extends 'jury/base.html.twig' %}
{% import 'jury/jury_macros.twig' as macros %}

{% block title %}
  Edit problem {{ problem.probid }} - {{ parent() }}
{% endblock %}

{% block content %}
  <div class="dashboard-wrapper">
    <div class="row">
      <div class="col-12">
        <div class="dashboard-wrapper">
          <div class="row">
            <div class="col-12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
