{% extends 'jury/base.html.twig' %}
{% import 'jury/jury_macros.twig' as macros %}

{% block title %}
  Scoreboard - {{ parent() }}
{% endblock %}

{% block extrahead %}
  {{ parent() }}
  {{ macros.table_extrahead() }}
{% endblock %}

{% block content %}
  <div class="dashboard-wrapper">
    <div class="row">
      <div class="col-12">
        <div data-ajax-refresh-target style="overflow: auto">
          {% include 'partials/scoreboard.html.twig' with {
            jury: true
          } %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
