{% extends 'jury/base.html.twig' %}
{% import 'jury/jury_macros.twig' as macros %}

{% block title %}
  Add team - {{ parent() }}
{% endblock %}

{% block extrahead %}
  {{ parent() }}
  {{ macros.select2_extrahead() }}
{% endblock %}

{% block content %}
  <div class="dashboard-wrapper">
    <div class="row">
      <div class="col-12">
        <h1>
          Add team
        </h1>

        {% include 'jury/partials/team_form.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}
